{{ define "Menu" }}
<a href="/sales" class="menu-size">SALES</a> | 
<a href="/stock" class="menu-size">STOCK</a> |
<a href="/expense" class="menu-size">EXPENSE</a> |
<a href="/smentracker" class="menu-size">SALESMEN ALLOCATION</a> |
<a href="/reports" class="menu-size">REPORTS</a> |
<a href="/settings" class="menu-size">SETTINGS</a> |
<a href="/help" class="menu-size">HELP</a>
{{ end }}
