{{ define "ReportSubMenu" }}
<a href="/reports" class="sub-menu-size">SalesMen Allocation</a> |
<a href="/expensereports" class="sub-menu-size">Expense</a> | 
<a href="/salereports" class="sub-menu-size">Sales</a> | 
{{ end }}
